@import "../../static/scss/colors";
@import "../../static/scss/mixin";

.landingPge {
  height: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
  }
}
